.board-details {
  // (ClassName: flex)
  margin: $layoutPadding-large auto;

  background-color: $black;
  color: $white;
  box-shadow: 0 2px 4px $shadow-color;
  border-radius: $border-radius;
  gap: $layoutPadding-medium;

  .group-container {
    // ClassName: flex
    flex-wrap: wrap;
    gap: $layoutPadding-medium;

    button {
      background-color: transparent;
      border-radius: $border-radius;

      &:hover {
        background-color: darken($wrk-clr2, 10%);
      }
    }

    .board-group {
      background-color: $wrk-clr2;
      padding: $layoutPadding-medium;
      border-radius: $border-radius;
      box-shadow: 0 1px 3px $shadow-color;
      gap: $layoutPadding-small;

      .task-preview {
        background-color: $black;
        border-radius: $border-radius;
        padding: $layoutPadding-small;
      }
    }
  }
}