.app-footer {
  min-height: 5rem;
  background-color: $hom-clr8;

  > section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
}
