// BoardGroup.scss
.board-group {
    background-color: $background-light;
    width: 272px;
    padding: $layoutPadding-smallest;
    border-radius: $border-radius-largest;
    box-shadow: $card-shadow;
    gap: $layoutPadding-small;

    .task-preview {
        color: $text-primary;
        border: solid 1px $border-gray;
        background-color: $card-background;
        border-radius: $border-radius;
        padding: $layoutPadding-smallest;

        p {
            display: flex;
        }
    }
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    h5 {
        margin: 0;
        flex-grow: 1;
    }

    .title-actions {
        display: flex;
        align-items: center;
        gap: 4px;

        .collapse-btn,
        .menu-btn {
            background: none;
            border: none;
            width: max-content;

        }
    }
}