.dragging {
  cursor: grabbing;
  box-shadow: $shadow-medium;
  opacity: 0.9;
  transform: rotate(2deg);
  transition: $hover-transition;
  height: 100%;
}

ul.groups-container {
  min-width: 272px;
  display: flex; 
  align-items: flex-start;
  gap: rem(5px);
  padding: 0 rem(8px) 0 rem(2px);
  padding-top: 0;
  margin: 0;
  list-style: none;
}

.board-group {
  min-width: 17rem;
  max-width: 17rem;
  width: 17rem;
  transition: $hover-transition;
  flex-shrink: 0; 
  
  &.dragging {
    opacity: 0.8;
    transform: rotate(2deg) scale(1.02);
    box-shadow: $shadow-large;
    background-color: darken($background-light, 2%);
  }
}

