.sidebar {
    .MuiDrawer-paper {
        background-color: #026aa7; 
        color: #ffffff;
    }

    .MuiList-root {
        padding-top: 0;
    }

    .MuiListItemButton-root {
        border-radius: 4px;
        margin: 4px 8px;

        &:hover {
            background-color: #005c91
        }
    }

    .MuiListItemIcon-root {
        color: #ffffff; 
    }

    .MuiListItemText-primary {
        font-weight: 500;
        font-size: 14px;
    }

    .MuiListItemButton-root:active {
        background-color: #004570; 
        
    }
}