.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  overflow-x: hidden;
  > * {
    grid-column: 1;
    &.full {
      width: 1 / -1;
    }
  }
}

// @include for-narrow-layout {
//     grid-template-columns:
//         minmax(20px, 1fr)
//         minmax(auto, $mobile-breakpoint)
//         minmax(20px, 1fr);
// }
// @include for-normal-layout {
//     grid-template-columns:
//         minmax(20px, 1fr)
//         minmax(auto, $narrow-breakpoint)
//         minmax(20px, 1fr);
// }
// @include for-wide-layout {
//     grid-template-columns:
//         minmax(20px, 1fr)
//         minmax(auto, $normal-breakpoint)
//         minmax(20px, 1fr);
// }

.cards-container {
  display: grid;
  grid-gap: $spacing-sm;
  grid-template-columns: 1fr;
  padding: $spacing-sm;
  overflow-y: hidden;
}
