.task-preview {
    background-color: $background-white;
    border-radius: $border-radius-large;
    box-shadow: $input-shadow;
    padding-inline: 0.75rem; // 12px
    padding-block: 0.5rem 0.25rem; // 8px
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;

    &.dragging {
        transform: rotate(2deg) scale(1.02);
        cursor: grabbing;
        box-shadow: $shadow-medium;
        background-color: $background-white;
      } 
      
    &:hover {
        background-color: $background-light-hover;
    }

    &.has-cover {
        padding-block-start: calc(0.625rem + 2.25rem);

        &::before {
            content: '';
            position: absolute;
            inset-block-start: 0;
            inset-inline-start: 0;
            width: 100%;
            height: 2.25rem;
            background-color: var(--cover-color);
            border-start-start-radius: $border-radius-large;
            border-start-end-radius: $border-radius-large;
        }

        .edit-icon-container {
            inset-block-start: 1.125rem; // 18px to rem
        }
    }

    p {
        margin: 0;
        font-size: 0.875rem;
        color: $text-primary;
        max-width: 13.8125rem; // 221px 
        margin-block-end: 0.25rem; // 4px 
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .edit-icon-container {
        position: absolute;
        inset-block-start: 50%;
        inset-inline-end: 0.625rem; // 10px to rem
        transform: translateY(-50%);
        transition: inset-block-start 0.2s ease;
    }

    .edit-icon {
        display: none;
        inline-size: 1.5rem; // 24px to rem
        block-size: 1.5rem; // 24px to rem
        background-color: $details-btn-main-clr;
        border-radius: 50%;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        transition: display 0.3s ease;

        img {
            inline-size: 1rem; // 16px
            block-size: 1rem; // 16px
        }
    }

    &:hover .edit-icon {
        display: flex;
    }
}
