.task-preview {
    background-color: $background-white;
    border-radius: $border-radius-large;
    box-shadow: $input-shadow;
    padding-inline: 0.75rem; // 12px
    padding-block: 0.5rem 0.25rem; // 8px
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;

    &.dragging {
        transform: rotate(2deg) scale(1.02);
        cursor: grabbing;
        box-shadow: $shadow-medium;
        background-color: $background-white;
    }

    &:hover {
        background-color: $background-light-hover;

        .edit-icon {
            display: flex;
            background-color: $background-light-hover;

        }

    }

    &.has-cover {
        padding-block-start: calc(0.625rem + 2.25rem);

        &::before {
            content: '';
            position: absolute;
            inset-block-start: 0;
            inset-inline-start: 0;
            width: 100%;
            height: 2.25rem;
            background-color: var(--cover-color);
            border-start-start-radius: $border-radius-large;
            border-start-end-radius: $border-radius-large;
        }

        .edit-icon-container {
            inset-block-start: rem(5px);
            inset-inline-end: rem(5px);
        }
    }

    .task-labels {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem; // 4px
        margin-block-end: 0.25rem; // 4px

        div {
            display: inline-flex;
            border-radius: 4px;

            span {
                display: inline-block;
                position: relative;
                min-width: rem(56px);
                max-width: 100%;
                height: rem(16px);
                margin-block-end: 0;
                padding: 0 rem(8px);
                overflow: hidden;
                color: $text-primary;
                font-size: rem(12px);
                line-height: rem(16px);
                text-align: left;
                text-overflow: ellipsis;
                vertical-align: middle;
                white-space: nowrap;
            }
        }
    }

    .task-members {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.25rem;

        justify-content: flex-end;

        .task-member {
            padding: unset;
            border: 0;
            border-radius: 100%;
            position: relative;
            overflow: visible;
            line-height: rem(4px);
            vertical-align: top;
            white-space: nowrap;

            span {
                display: inline-block;
                border-radius: 50%;
                height: rem(24px);
                width: rem(24px);
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }

    p {
        margin: 0;
        font-size: 0.875rem;
        color: $text-primary;
        max-width: 13.8125rem; // 221px 
        // margin-block-end: 0.25rem; // 4px 
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .edit-icon-container {
        position: absolute;
        inset-block-start: 0.625rem;
        inset-inline-end: 0.625rem;
        transition: inset-block-start 0.2s ease;
    }

    .edit-icon {
        display: none;
        inline-size: 1.5rem; // 24px to rem
        block-size: 1.5rem; // 24px to rem
        background-color: $details-btn-main-clr;
        border-radius: 50%;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        transition: display 0.3s ease;

        &:hover {
            background-color: $details-btn-main-clr;
        }

        img {
            inline-size: 1rem; // 16px
            block-size: 1rem; // 16px
        }
    }

    &:hover .edit-icon {
        display: flex;
    }
}