.add-group-form {
    width: 17rem; // 272px
    background-color: $background-light;
    padding: $layoutPadding-small;
    border-radius: $border-radius-largest;
    gap: $layoutPadding-small;

    input {
        width: 100%;
        padding: $layoutPadding-small;
        border: 0.125rem solid transparent; // 2px
        border-radius: $border-radius-small;
        background-color: $card-background;
        font-size: 0.875rem; // 14px
        color: $text-primary;
        font-family: $workspace-font;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &:focus {
            border-color: $primary-blue;
            outline: none;
            box-shadow: 0 0 0.25rem rgba($primary-blue, 0.5);
        }

        &::placeholder {
            color: $text-secondary;
        }
    }

    .buttons-container {
        margin-block-start: $layoutPadding-small;
        display: flex;
        align-items: center;

        button {
            border-radius: $border-radius-large;
        }


        .add-group-btn {
            width: auto;
            padding: 0.5rem 1rem; // 8px 16px
            background-color: $primary-blue;
            color: $button-text-light;
            border: none;
            border-radius: $border-radius-small;
            font-weight: 500;
            font-size: 0.875rem; // 14px
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.1s ease;

            &:hover {
                background-color: $primary-hover-blue;
            }
        }

        .cancel-btn {
            width: auto;
            font-size: 1.25rem; // 20px
            background-color: transparent;
            padding: $layoutPadding-smallest 1rem; 
            border: none;
            cursor: pointer;
            color: $text-dark;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            
            flex-grow: 0;
            flex-shrink: 0;

            &:hover {
                color: $text-primary;
                background-color: $button-secondary-hover-bg;
            }
        }
    }
}

.add-list-btn {
    width: 220px;
    height: 32px;
    padding: $layoutPadding-small;
    background-color: transparent;
    border: none;
    border-radius: $border-radius;
    color: $details-btn-txt;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    font-family: $workspace-font;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: $layoutPadding-small;
    margin-inline-start: 0;
    
    &:hover {
        background-color: $details-btn-txt-hover;
    }
    
    &::before {
        content: '+';
        font-weight: 200;
        font-size: 1.2rem;
        display: inline-flex;
        align-items: center;
        line-height: 0;
        margin-block-start: -2px;
    }
}