.board-group {
    background-color: $background-light;
    min-width: 17rem;
    max-width: 17rem;
    margin: $spacing-xs;
    padding: rem(8px) rem(8px);
    border-radius: $border-radius;
    box-shadow: $card-shadow;
    transition: min-width 0.3s ease-in-out,
        max-width 0.3s ease-in-out,
        padding 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
    display: grid;
    grid-template-rows: auto auto auto;
    height: 100%;

    > * {
        min-width: 0;
    }
    
    .board-group-header {
        grid-row: 1;
    }
    
    .board-group-footer {
        grid-row: 3;
    }

    .tasks-container {
        grid-row: 2;
        display: grid;
        gap: $spacing-sm;
        padding-block: 0 0.125rem;
        overflow-y: auto;
        min-height: 0; 

        grid-auto-rows: min-content;
        overflow-y: auto;
        position: relative; 
        overflow-x: hidden;
        max-height: calc(100vh - rem(230px));
    }

    &.is-adding-task {

        .add-task-btn-preview {
          display: none;
        }

        .tasks-container {
            scroll-behavior: smooth;
            max-height: calc(100vh - rem(230px) + $add-preview-or-active-diff);
        }
      }

    &.collapsed {
        min-width: 2.5rem;
        max-width: 2.5rem;
        padding: $layoutPadding-small 0;
        display: block; 

        @media (max-width: $breakpoint-mobile) {
            min-width: 2rem;
            max-width: 2rem;
        }

        .tasks-container,
        .board-group-footer {
            display: none;
        }

        .board-group-header {
            height: 100%;

            .collapsed-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0.25rem 0;
                opacity: 1;

                .title-actions {
                    .collapse-btn {
                        padding: 0.25rem;

                        &:hover {
                            background: none;
                            transform: none;
                            box-shadow: none;
                        }
                    }
                }

                .title-container {
                    flex-grow: 1;
                    margin: 0.25rem 0;

                    h5 {
                        writing-mode: vertical-rl;
                        transform: rotate(0deg);
                        white-space: nowrap;
                        margin: 0;
                        transition: transform 0.3s ease-in-out;
                    }

                    .vertical-text-field {
                        transform: rotate(-90deg);
                        transform-origin: center;
                        width: 9.375rem;
                        position: relative;
                        left: -3.4375rem;

                        input {
                            text-align: center;
                        }
                    }
                }

                .task-count {
                    writing-mode: vertical-rl;
                    transform: rotate(0deg);
                    white-space: nowrap;
                    color: $text-secondary;
                    margin-inline-start: 0.5rem;
                    opacity: 1;

                    h3 {
                        margin: 0;
                        font-size: 0.75rem;
                        color: $text-secondary;
                        pointer-events: none;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &:hover {
        .board-group-header .title-actions {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }
    }

    &.dragging {
        opacity: 0.8;
        transform: rotate(2deg) scale(1.02);
        box-shadow: $shadow-large;
        background-color: darken($background-light, 2%);
    }
}