.board-group-footer {
    width: 100%;

    .add-task-container {
        width: 100%;
        margin-block-start: 0.5rem;
        box-sizing: border-box;

        input {
            width: 100%;
            padding: 0.625rem;
            border: 0.125rem solid transparent;
            border-radius: $border-radius-large;
            box-sizing: border-box;
            background-color: $background-white;
            font-size: 0.875rem;
            font-family: $workspace-font;
            color: $text-primary;
            box-shadow: $input-shadow;

            &:focus {
                border-color: none;
                outline: none;
            }
        }

        .buttons-container {
            display: flex;
            align-items: center;
            margin-block-start: $layoutPadding-small;

            .add-card-btn {
                width: auto;
                padding: 0.5rem 1rem;
                background-color: $primary-blue;
                color: $button-text-light;
                border: none;
                border-radius: $border-radius-small;
                font-size: 0.875rem;
                font-weight: 500;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.1s ease;

                &:hover {
                    background-color: $primary-hover-blue;
                }
            }

            .cancel-btn {
                width: auto;
                padding: $layoutPadding-smallest 1rem;
                border: none;
                font-size: 1.25rem;
                color: $text-dark;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
                flex-grow: 0;
                flex-shrink: 0;

                &:hover {
                    color: $text-primary;
                }
            }
        }
    }

}