.board-group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;


    .title-container {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        
        h5 {
            cursor: pointer;
            margin: 0.5rem; // 8px
        }
        }

        .title-actions {
        display: flex;

        .collapse-btn,
        .menu-btn {
            align-items: center;
            background: none;
            border: none;
            border-radius: $border-radius-large;
            cursor: pointer;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0.5rem;
            width: 2rem;
        }
    }
}
