.board-group {
    background-color: $background-light;
    width: 272px;
    min-height: 32px;
    margin: $layoutPadding-small;
    padding: $layoutPadding-small;
    border-radius: $border-radius;
    box-shadow: $card-shadow;
    display: flex;
    flex-direction: column;

    &:hover {
        .board-group-header .title-actions {
            opacity: 1;
        }
    }
    
}
