.board-group-footer {
    width: 100%;

    .add-task-btn-preview {
        width: 220px;
        height: 32px;
        background-color: transparent;
        color: $text-secondary;
        border: none;
        border-radius: $border-radius-large;
        font-size: rem(14px);
        font-weight: 600;
        text-align: left;
        cursor: pointer;
        transition: background-color 0.2s ease, color 0.2s ease;
        display: flex;
        align-items: center;
        margin-inline-start: 0;
        
        &:hover {
            background-color: $details-add-hover;
        }

        img {
            width: rem(16px);
            height: rem(16px);
            opacity: 0.8;
            margin-inline-end: rem(8px);
        }
    }
    
    .add-task-container {
        width: 100%;
        margin-block-start: rem(8px);
        box-sizing: border-box;

        textarea {
            width: 100%;
            min-height: rem(56px);
            max-height: rem(162px); 
            padding: rem(8px) rem(10px);
            border: rem(2px) solid transparent;
            border-radius: $border-radius-large;
            box-sizing: border-box;
            background-color: $background-white;
            font-size: rem(14px);
            font-family: $workspace-font;
            color: $text-primary;
            box-shadow: $input-shadow;
            line-height: 1.2;
            resize: none; 
            overflow-y: auto; 
            margin: 0;
            
            &:focus {
                border-color: none;
                outline: none;
            }
        }

        .buttons-container {
            display: flex;
            align-items: center;
            margin-block: $layoutPadding-small 0;

            button {
                border-radius: $border-radius-large;
            }

            .add-task-btn-active {
                width: auto;
                padding: rem(8px) rem(12px);
                background-color: $primary-blue;
                color: $button-text-light;
                border: none;
                border-radius: $border-radius-small;
                font-size: rem(14px);
                font-weight: 500;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.1s ease;
                margin-inline-start: 0;

                &:hover {
                    background-color: $primary-hover-blue;
                }

            }

            .cancel-btn {
                width: rem(32px);
                height: rem(32px);
                padding: rem(6px);
                border: none;
                background-color: transparent;
                color: $text-secondary;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $border-radius-small;
                margin-inline-start: rem(4px);
                transition: $hover-transition;
                margin: 0;

                svg {
                    width: rem(18px);
                    height: rem(18px);
                    opacity: 0.8;
                }

                &:hover {
                    background-color: $details-btn-txt-hover;
                    color: $text-primary;

                    svg {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}