.board-group {
    background-color: $background-light;
    width: 272px;
    padding: $layoutPadding-smallest;
    border-radius: $border-radius-largest;
    box-shadow: $card-shadow;
    gap: $layoutPadding-small;

    .task-preview {
        color: $text-primary;
        border: solid 1px $border-gray;
        background-color: $card-background;
        border-radius: $border-radius;
        padding: $layoutPadding-smallest;

        p {
            display: flex;
        }
    }
}

.add-group-form {
    width: 272px;
    background-color: $background-light;
    padding: $layoutPadding-smallest;
    border-radius: $border-radius-largest;
    box-shadow: $card-shadow;
    gap: $layoutPadding-small;

    /* Input Field */
    input {
        background-color: $card-background;
        color: $text-primary;
        border: solid 1px $border-gray;
        border-radius: $border-radius;
        padding: $layoutPadding-small;
        margin-bottom: $layoutPadding-small;
        font-size: 14px;
        outline: none;

        &:focus {
            border-color: white;
        }

        &::placeholder {
            color: $text-secondary;
        }
    }

    /* Button Container */
    .buttons-container {
        display: flex;
        justify-content: space-between;
        gap: $layoutPadding-small;
        
        /* Add List Button */
        .add-group-btn {
            background-color: white;
            color: black;
            border: none;
            border-radius: $border-radius-small;
            padding: 6px 12px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken(white, 10%);
            }
        }

        .cancel-btn {
            background-color: transparent;
            color: $text-secondary;
            border: none;
            font-size: 14px;
            cursor: pointer;
            padding: 6px 12px;
            text-decoration: underline;

            &:hover {
                color: $text-primary;
            }
        }
    }
}

.add-list-btn {
    background-color: transparent;
    border: none;
    color: $text-primary;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 0;
    text-align: left;
    width: 100%;

    &:hover {
        color: white;
    }
}
